.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    position: relative;
}

@media only screen and (max-width: 480px){
    .grid > img {
        margin: 5px auto;
        box-shadow: 2px 2px 9px #252525a9;

        width: 80%;
        /*transition: all 60ms ease;*/
        z-index: 2;
    }
} 

@media only screen and (min-width: 480px) and (max-width: 1024px){
    .grid > img {
        width: 40%;
        margin: 5px 1.15%;
        box-shadow: 4px 4px 9px #252525a6;
        z-index: 2;

    }
} 

@media only screen and (min-width: 1024px){
    .grid > img {
        width: 25%;

        margin: 5px 1.15%;
        z-index: 2;

        object-fit: cover;
        object-position: 0 -10px;
    }
}

.fita {
    width: 100%;
    height: 100px;

    background-color: var(--cor5);
    
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    z-index: 1;
}

.frase-impacto {
    margin-top: 10px;
    font: italic bold 2em 'Poppins', sans-serif;
    color: var(--cor5);
    text-align: center;
}


.info {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 480px){
    .info-container {
        display: flex;
        flex-direction: column;
    }
    .visao {
        align-self: flex-end;
    }

    .visao > img {
        display: none;
    }
} 

@media only screen and (min-width: 480px) and (max-width: 1024px){
    .info-container {
        display: flex;
        flex-direction: column;
        /* margin: 10px 0 10px 0; */
    }

    .visao {
        align-self: flex-end;
    }

    .visao > img {
        display: none;
    }
} 

@media only screen and (min-width: 1024px){
    .info-container {
        display: flex;
        flex-direction: row;
    
        max-width: 1000px;
        max-height: 500px;
        }
}

.cartao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex: 1;

    margin: 5px 10px;
    padding: 20px;

    box-shadow: 4px 4px 5px #2525258c;
    border-radius: 10px;
}

.cartao > h1 {
    text-align: center;
    color: var(--cor7);
    font-size: 2em;
    font-weight: 400;
}

.cartao > p {
    text-align: center;
    line-height: 1.5;
}

.missao {
    background-image: url(../imagens/img1-branco.jpeg);
    background-size: cover;
    background-position: -100px;
}

.visao {
    display: flex;
    background-color: var(--cor1);
    justify-content: flex-start;
}

.visao img {
    align-self: center;
    margin: 25px 0;
    border-radius: 5px;

    width: 80%;
    object-fit: cover;
}

.valores {
    background-image: url(../imagens/img3-branco.jpeg);
    background-size: cover; 
    background-position: center center;
}

@media screen and (max-width: 1023px) {
    .secao-sobre-nos {
        background-color: var(--cor4);
        
        box-shadow: 4px 4px 7px #2525258f;

        padding: 10px;

        margin-top: 20px;
        margin-bottom: 20px;
    }

    .sobre-nos-foto {
        display: none;
    }

    .sobre-nos-logo {
        display: none;
    }
}

@media screen and (min-width: 1024px){
    .secao-sobre-nos {
        display: flex;
        justify-content: center;
        background-color: var(--cor4);

        margin-top: 20px;
        margin-bottom: 20px;
    }

    .sobre-nos-container {
        display: flex;
        flex-direction: row;
    }

    .sobre-nos-texto {
        max-width: 700px;
        padding: 20px 10px;
    }

    .sobre-nos-logo {
        display: flex;
        justify-content: center;

        position: absolute;

        width: 100%;
        height: 100px;
    }

    .sobre-nos-foto {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sobre-nos-foto > img {
        height: 400px;
        box-shadow: 4px -4px 4px #ac9595b2;
        border-radius: 5px;
    }
}

.sobre-nos-texto > h1 {
    font-size: 3em;
    font-weight: 500;
    color: var(--cor6);
    padding: 10px 0;
}

.sobre-nos-texto > p {
    text-align: justify;
    line-height: 1.7;
    padding: 0 20px;
}