:root {
    --cor1: #FBFBFB;
    --cor2: #EDE4DB;
    --cor3: #F0CECE;
    --cor4: #e4c0c1;
    --cor5: #C27274;
    --cor6: #FB5C5C;
    --cor7: #A63336;
}

.botao {
    background-color: var(--cor5);
    color: var(--cor3);
    text-decoration: none; 

    font-weight: bold;
    font-size: 10pt;
    text-align: center;

    flex: 1;

    padding: 0.7em 0;
    border: 1px solid var(--cor5);
    border-radius: 2em;
    box-shadow: 3px 3px 5px #25252581;

    transition: all 600ms ease;
}

.botao:hover {
    color: var(--cor5);
    background-color: var(--cor3);
    border: 1px solid var(--cor5);
}

.botao-ativo {
    background-color: var(--cor5);
    color: var(--cor3);
    border: 1px solid var(--cor3);
    text-decoration: underline;
}