:root {
    --cor1: #FBFBFB;
    --cor2: #EDE4DB;
    --cor3: #F0CECE;
    --cor4: #e4c0c1;
    --cor5: #C27274;
    --cor6: #FB5C5C;
    --cor7: #A63336;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
    
    background-image: url(../imagens/background-qs.png);
    background-size: cover;
    background-position: center center;
}

.hero-section::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(240, 240, 240, 0.136);
    z-index: 1;
}

.hero-section-parte-baixo
{
    font-size: 40px;
    font-weight: 700;
    font-style: italic;

}


main {
    width: 60%;
    margin: 0 auto;
}

h1 {
    margin-top: 40px;
    color: var(--cor5);
    margin-bottom: 10px;
    font-weight: 500;
}

main img {
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

.sessao-1 {
    margin-bottom: 30px;
    display: flex;
}

.texto-1 {
    margin-left: 40px;
}

.sessao-2 {
    margin-bottom: 30px;
    display: flex;
}

.texto-2 {
    padding-right: 100px;
}

.imagem-3 {
    z-index: 2;
}

.sessao-3 {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    z-index: 2;
}


.fita {
    width: 100%;
    height: 200px;
    background-color: #FCE8EC;
    position: absolute;
    top: 25%;
    transform: translate(0, -50%);
    z-index: 1;
}

.texto-3 {
    margin-left: 40px;
    z-index: 2;
}

.sessao-4 {
    background-image: url(../imagens/fundosessao.png);
    background-size: cover;
    background-position: center bottom;
    margin-bottom: 30px;
    display: flex;
}

.texto-4 {
    padding-right: 100px;
}

.hero-section-equipe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    
    
    
    
    background-image: url(../imagens/background-equipe.png);
    background-size: cover;
    background-position: center center;
    color: #C27274;
    text-align: center;
    font-size: 40px;
}

.imgequipe {
   width: 200px;
   height: 200px;
}

.diretor{
    display:flex;
    flex-direction: column;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.diretor>h5 {
    background-color: rgb(253, 236, 232, 1);
    border-radius: 1rem;
    text-align: center;
    max-width: 15%;
    color: rgb(194, 114, 116, 1);
    font-size: 115%;
    align-self: center;
    padding: 1%;
    position: relative;
}

.equipe-posição {
  margin: 0.2rem;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.equipe {
    display:flex;
    flex-direction: column;
    max-width: 100%;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 22px;

}

.equipe>h4 {
    background-color: rgb(253, 236, 232, 1);
    border-radius: 1rem;
    text-align: center;
    max-width: 50%;
    color: rgb(194, 114, 116, 1);
    font-size: 115%;
    align-self: center;
    padding: 1%;
    position: relative;
}