/* INÍCIO DA CONFIGURAÇÃO DA HERO SECTION */

.hero-section {
    background-image: url(../imagens/background-qs.png);
    background-position: center;
}

.hero-section::before {
    background-color: rgba(240, 240, 240, 0.136);
}

@media screen and (max-width: 480px) {
    .hero-section-parte-baixo > h1 {
        color: black;
        font-size: 30px;
        font-weight: 700;
        font-style: italic;
    }
}

@media screen and (min-width: 480px) {
    .hero-section-parte-baixo > h1 {
        color: black;
        font-size: 2em;
        font-weight: 700;
        font-style: italic;
    }
}

/* FIM DA CONFIGURAÇÃO DA HERO SECTION */

/* CONFIGURAÇÃO DO CONTEÚDO DA PÁGINA */

hr {
    background-color: var(--cor3);
    width: 80%;
}

h1 {
    color: var(--cor5);
    font-weight: 600;
    text-align: center;
    font-size: 2em;

    margin-top: 20px;
    margin-bottom: 20px;
}

.container-info {
    margin: 0 auto;
}

.section-fita p{
    background-color: var(--cor8);
    padding: 10px;
}

@media screen and (max-width: 480px) {
    .container-info {
        width: 90%;
    }

    .text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .text-section img {
        width: 70%;
    }

    .text-section p {
        margin-top: 20px;
    }
}

@media screen and (min-width: 480px) and (max-width: 840px) {
    .container-info {
        width: 90%;
    }

    .text-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    }

    .text-section img {
        width: 40%;
        margin: 0 20px;
    }

    .foto-direita {
        flex-direction: row-reverse;
    }
}

@media screen and (min-width: 840px) and (max-width: 1024px) {
    .container-info {
        width: 70%;
    }
    .text-section {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .text-section img {
        width: 40%;
        margin: 0 20px;
    }

    .foto-direita {
        flex-direction: row-reverse;
    }

}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .container-info {
        width: 90%;
    }

    .text-section {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .text-section img {
        width: 30%;
        margin: 0 20px;
    }

    .foto-direita {
        flex-direction: row-reverse;
    }
}

@media screen and (min-width: 1440px) {
    .container-info {
        max-width: 60%;
    }

    .text-section {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .text-section img {
        width: 40%;
        margin: 0 20px;
    }

    .foto-direita {
        flex-direction: row-reverse;
    }
}

.text-section p {
    text-align: justify;
}

.equipe {
    display:flex;
    flex-direction: column;

    max-width: 100%;

    margin: 20px 0;
}

.titulo-equipe {    
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../imagens/background-equipe.png);
    background-size: cover;
    background-position: center;
}

.equipe img {
    width: 200px;
    height: 200px;
}

.equipe h3 {
    background-color: #e4c0c1;

    border-radius: 20px;
    position: relative;
    
    width: 180px;
}

.equipe-diretor {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    margin-top: 20px;
}

.equipe-cordenadores {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

    text-align: center;
}