@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400;1,500&display=swap');

:root {
    --cor1: #FBFBFB;
    --cor2: #F0CECE;
    --cor3: #C27274;
    --cor4: #FB5C5C;
}

/* RESET DO ESTILO DO NAVEGADOR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LINHA HORIZONTAL ESTILIZADA*/
hr {
    border: 0;
    height: 3px;
    margin: 20px auto;
    background-color: var(--cor3);
    width: 60%;
    /*background-image: linear-gradient(to right, #FFF, var(--cor2), var(--cor2), var(--cor2), #FFF);*/
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;

    /*LTERAÇÃO NO TAMANHO DA FOTO*/
    background-image: url(../imagens/hero-section-brackground-branco-desktop.jpeg);
    background-size: cover;
    background-position: center center;
}

.cabecalho {
    display: flex;
    justify-content: center;
    /*background-color: var(--cor4);*/

    /*background-image: linear-gradient(to bottom, #f24b51 , #bf3b3fc5, #a6333700);*/
    background-color: #c27273bb;

    height: 15vh;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav > ul {
    display: flex;
    justify-content: center;
    width: 40em;
}

/* CONTANER DOS BOTÕES COM OS BOTÕES */
ul > li {
    display: flex;
    height: 2em;
    flex: 1;
    align-items: center;
    margin: 10px 0.2vw;
}

.botao:hover {
    background-color: #a86364;
}

/* ESTILO GENÉRICO PARA BOTÕES */
.botao {
    flex: 1;
    font: 10pt 'Poppins';
    text-align: center;

    background-color: var(--cor3);
    color: #FFF;

    padding: 0.7em 0;
    border-radius: 2em;
    box-shadow: 3px 3px 5px #25252581;

    transition: all 800ms ease;
}

/* REMOVENDO A DECORAÇÃO PADRÃO DE TODOS OS LINKS */
.botao:link {
    font-weight: bold;
    text-decoration: none;
}

.hero-section-parte-baixo {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.hero-section-parte-baixo > h1 {
    text-align: center;
    color: #252525;
    font: bold 3em 'Dancing Script';
}
.hero-section-parte-baixo > a {
    width: 280px;
    align-self: center;
    background-color: var(--cor4);
}

main {
    margin: 0 auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    position: relative;
}

/* GRID DE FOTOS DA PÁGINA NO CELULAR*/
@media only screen and (max-width: 480px){
    .grid > img {
        margin: 5px auto;
        box-shadow: 2px 2px 9px #252525a9;

        width: 80%;
        /*transition: all 60ms ease;*/
        z-index: 2;
    }
} 

/* GRID DE FOTOS DA PÁGINA NO TABLET*/
@media only screen and (min-width: 480px) and (max-width: 1024px){
    .grid > img {
        width: 40%;
        margin: 5px 1.15%;
        box-shadow: 4px 4px 9px #252525a6;
        z-index: 2;

    }
} 

/* GRID DE FOTOS DA PÁGINA NO DESKTOP*/
@media only screen and (min-width: 1024px){
    .grid > img {
        width: 25%;

        margin: 5px 1.15%;
        z-index: 2;

        object-fit: cover;
        object-position: 0 -10px; /* MOVE A FOTO DENTRO DO CONTAINER SEM REDIMENSIONA-LA, LEFT TOP*/
    }
}

/* TRAÇO ATRÁS DO GRID DE FOTOS */
.fita {
    width: 100%;
    height: 100px;

    background-color: var(--cor3);
    
    position: absolute;
    top: 40%;

    z-index: 1;
}

.frase-impacto {
    margin-top: 10px;
    font: italic bold 2em 'Poppins', sans-serif;
    color: var(--cor3);
    text-align: center;
}


.info {
    display: flex;
    justify-content: center;
}

/* GRID DE INFOS (MISSÃO, VISÃO E VALORES) DA PÁGINA NO CELULAR */
@media only screen and (max-width: 480px){
    .info-container {
        display: flex;
        flex-direction: column;
    }
    .visao {
        align-self: flex-end;
    }

    .visao > img {
        display: none;
    }
} 

/* GRID DE INFOS (MISSÃO, VISÃO E VALORES) DA PÁGINA NO TABLET */
@media only screen and (min-width: 480px) and (max-width: 1024px){
    .info-container {
        display: flex;
        flex-direction: column;
        margin: 10px 0 60px 0;
    }

    .visao {
        align-self: flex-end;
    }

    .visao > img {
        display: none;
    }
} 

 /* GRID DE INFOS DA PÁGINA NO DESKTOP */
@media only screen and (min-width: 1024px){
    .info-container {
        display: flex;
        flex-direction: row;
    
        max-width: 70%;
        max-height: 500px;
    
        margin: 10px 0 100px 0;
    }
}

/* CARTAO DE INFORMACOES */
.cartao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex: 1;

    margin: 5px 10px;
    padding: 20px;

    box-shadow: 4px 4px 5px #2525258c;
    border-radius: 10px;
}

.cartao > h1 {
    text-align: center;
    color: var(--cor3);
    font: 3vh 'Poppins';

}

.cartao > p {
    text-align: justify;
    font: 10pt 'Poppins';
}

/* CARTÃO DE INFO MISSÃO */
.missao {
    background-image: url(../imagens/img1-branco.jpeg);
    background-size: cover;
    background-position: -100px;
}

/* CARTÃO DE INFO VISÃO */
.visao {
    display: flex;
    background-color: var(--cor1);
    justify-content: flex-start;
}

.visao img {
    align-self: center;
    margin: 25px 0;
    border-radius: 5px;

    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 0 -40px;

}

/* CARTÃO DE INFO VALORES */
.valores {
    background-image: url(../imagens/img3-branco.jpeg);
    background-size: cover; 
    background-position: center center;
}

/* SOBRE NÓS NO CELULAR E TABLET */
@media screen and (max-width: 1024px) {
    .secao-sobre-nos {
        background-color: var(--cor2);
        
        box-shadow: 4px 4px 7px #2525258f;

        padding: 10px;
        margin-bottom: 15px;
    }

    .sobre-nos-foto {
        display: none;
    }

    .sobre-nos-logo {
        display: none;
    }
}

/* SOBRE NÓS NO DESKTOP */
@media screen and (min-width: 1024px){
    .secao-sobre-nos {
        display: flex;
        justify-content: center;
        background-color: var(--cor2);

        margin-bottom: 20px;
    }

    .sobre-nos-container {
        display: flex;
        flex-direction: row;
    }

    .sobre-nos-texto {
        max-width: 700px;
        padding: 20px 10px;
    }

    .sobre-nos-logo {
        display: flex;
        justify-content: center;

        position: absolute;

        width: 100vw;
        height: 100px;
    }
    .sobre-nos-logo > img {
        border: 1px solid blue;
    }

    .sobre-nos-foto {
        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid blue;
    }

    .sobre-nos-foto > img {
        height: 400px;
        box-shadow: 4px -4px 4px #ac9595b2;
        border-radius: 5px;
    }
}

.sobre-nos-texto > h1 {
    font: 3em 'Poppins';
    color: var(--cor4);
    padding: 10px 0;
}

.sobre-nos-texto > p {
    font-family: 'Poppins';
    text-align: justify;
    padding: 0 20px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    font-family: 'Poppins';
    background-color: #C27274;
    border: 1px solid blue;
}

footer > img {
    width: 100px;
    border: 1px solid blue;
}

.icones-redes-sociais {
    display: flex;
    flex-direction: column;

    position: absolute;

    top: 10px;
    left: 10px;
}

.icones-redes-sociais img {
    width: 3em;
}
