.body{
    background-color: #FEFBF9;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    
}
.menu{
    position: absolute;
    top:0;
    background: #C27274;
    width: 100%;
    height: 16%;
    left: -0.625rem;
}
.menu_links{
    display: flex;
    gap: 2%;
    position: relative;
} 
.a_link{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align:center;
    color: #EDE4DB;
    width: 7%;
    height: 3.0625rem;
    left: 73%;
    top: 18.33rem; 
    background: #C27274;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 1.875rem;
}
.a_link:hover{
    background-color: #e4c0c1;
    opacity: 80%;
    color: #C27274;
}
.navtexto{
    position: relative;
    height: 5%;
    left: 0.3125rem;
    top: 0.94rem;
}
.headerlogo{  
    position: absolute;
    left: calc(50% - 12.04rem/2 - 0.01rem);
    top: 0.47rem;
    height: 90%;
    width:10%;
}
.doacoesinicial{
    opacity: 30%;
    position:absolute;
    width: 100%;
    height: 97.76rem;
    left: 0rem;
    top: 0rem;
    margin:0;
}
.retangulo2{
    position: absolute;
    width: 84.37rem;
    height:12.5rem;
    left: -2.56rem;
    top: 97.76rem;
    background: #FFFFFF;
    border-radius: 1.88rem;
  }
  h1{
    color: #C27274;
    position: absolute;
    width: 14.5rem;
    left: 9.81rem;
    top:101.89rem;
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.75rem;
    line-height: 4.5rem;
  }
p{
    width: 20%;
    height: 36.67rem;
    left: 7.64rem;
    top: 178.13rem;
}
.imgdoacoes{
    opacity: 8%;
    border-radius: 1.88rem;
    position: absolute;
    width: 40%;
    height: 95%;
    left:6rem;
    top: 139.12rem;
}
.textoparagrafo1{
    position: absolute;
    width: 27%;
    height: 36.67rem;
    left: 11.30rem;
    top: 220%;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 200%;
    line-height: 4.2rem;
    display: flex;
    align-items: flex-end;
    text-align: justify;;
}
.imgdoacoes2{
    position: absolute;
    opacity: 8%;
    width: 50%;
    height:92rem;
    left: 50%;
    top: 144.5rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 5rem;
}
.textoparagrafo2{
    position: absolute;
    width: 88.50rem;
    height: 25.60rem;
    left: 54%;
    top: 150rem;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 200%;
    line-height: 4.25rem;
    color: #000000;
}
.textoparagrafo3{
    position: absolute;
    width: 36.40rem;
    height: 29.60rem;
    left: 60%;
    top: 172.49rem;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 200%;
    line-height: 4.25rem;
    color: #000000;
}
.textoparagrafo4{
    position: absolute;
    width: 37.15rem;
    height: 29.60rem;
    left: 121.15rem;
    top: 172.49rem;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.20rem;
    line-height: 4.25rem;
    color: #000000;
}
.retangulo3{
    position: absolute;
    width: 52.4rem;
    height: 26.80rem;
    left: calc(50% - 27.9rem/2 + 20.8rem);
    top: 205.60rem;
    background: #ffffff;
    box-shadow: 0.95rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 1.45rem;
}
.irmaosbrandt{
    position: absolute;
    width: 17.15rem;
    height: 15.28rem;
    left: 109.45rem;
    top: 200rem;
    filter: drop-shadow(0.625rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}
.chavepix{
    position: absolute;
    width: 10.60rem;
    height: 5.5rem;
    left: 100rem;
    top:209.9rem;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.20rem;
    line-height: 4.25rem;
    color: #000000;
}
.email{
    position: absolute;
    width: 65.6rem;
    height: 8rem;
    left: 6.30rem;
    top: 225rem;
    background: #C27274;
    box-shadow: 0.50rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 1.88rem;
    position: relative;
    width: 66rem;
    height: 5.5rem;
    left: 84.4rem;
    top: 118.80rem;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.20rem;
    line-height: 4.25rem;
    color: #FEFBF9;
    text-align: center;
}/*
footer{
    position: relative;
    width: 170.6rem;
    height: 22.20rem;
    top: 375rem;
    background: #C27274;
}*/

.imagemfooter{
    position: absolute;
    width: 15.5rem;
    height: 12rem;
    left: calc(50% - 15.5rem/2 - 0.01rem);
    top: 346.9rem;
}

.textofooter{
    position: absolute;
    width: 64.75rem;
    height: 3.70rem;
    left: 67.5rem;
    top: 361rem;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.60rem;
    line-height: 3.3rem;
    color: #263238;
}

@media(max-width:1200px){
    p{
       
    }
}




